<h1><%= t('.title') %></h1>

<h2><%= t(:weights, count: @weights.count) %></h2>

<% if @weights.any? %>
  <table>
    <thead>
      <th>Data</th>
      <th>Peso</th>
      <th></th>
    </thead>
    <tbody>
      <% @weights.each do |weight| %>
        <tr id="<%= dom_id(weight) %>">
          <td><%= weight.registered_on %></td>
          <td><%= weight.value %></td>
          <td><%= weight.destroy_link %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
