<h1><%= t('.title') %></h1>

<%= simple_form_for @weight do |f| %>
  <%= f.error_notification %>
  <%= f.input :registered_on, html5: true, required: true,
    input_html: { value: Date.current } %>
  <%= f.input :value, required: true %>
  <%= f.button :submit, class: :button %>
  <%= link_to 'Cancelar', weights_path %>
<% end %>
