<h1><%= t('.title') %></h1>

<%= simple_form_for @perimeter do |f| %>
  <%= f.error_notification %>
  <%= f.input :registered_on, html5: true, required: true %>
  <%= f.input :wrist, required: true %>
  <%= f.input :arm, required: true %>
  <%= f.input :chest, required: true %>
  <%= f.input :waist, required: true %>
  <%= f.input :abdomen, required: true %>
  <%= f.input :hip, required: true %>
  <%= f.input :thigh, required: true %>
  <%= f.input :calf, required: true %>
  <%= f.button :submit, class: :button %>
  <%= link_to 'Cancelar', perimeters_path %>
<% end %>
