<!DOCTYPE html>
<html>
  <head>
    <title>Acompanhamento</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if signed_in? %>
      Logado como: <%= current_user.email %>
      <%= button_to t("layouts.application.sign_out"), sign_out_path, method: :delete %>

      <ul>
        <li><%= link_to t(".weights"), weights_path %></li>
        <li><%= link_to t(".perimeters"), perimeters_path %></li>
        <li><%= link_to t(".hungers"), hungers_path %></li>
        <li><%= link_to t(".daily_activities"), daily_activities_path %></li>
        <li><%= link_to t(".priorities"), priorities_path %></li>
      </ul>
    <% else %>
      <%= link_to t("helpers.submit.session.submit"), sign_in_path %>
    <% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
